<div class="log_in_bg">
	<h2>Sign in</h2>
	<div class="log_in_bg_text">
		New User?
		<%= link_to "Sign Up", sign_up_url%>
	</div>
	<div class="log_in">
		<%= form_tag sessions_path do %>
		<span style="color:#FF0000;"><%= flash.alert %></span>
		 <div class="field"> 
			<%= label_tag :email %>
			<br />
			<%= text_field_tag :email, params[:email],{:class => 'span2', :placeholder => "example@example.com"}%> <!-- we put params[:email] to remember (this is the text displayed) -->
		</div>
		<p>
			<%= label_tag :password %>
			<br />
			<%= password_field_tag :password%>
		</p>
		<p class="button">
			<%= submit_tag "Log in",{:class => 'btn'} %>
		</p>
		<% end %>
	</div>
</div>
