<%= f.fields_for :addresses do |u| %>
<div>
    <div class="field">
        <%= u.label :address %><br />
    	<%= u.text_area :address , :cols=> 20, :rows=>5%>
    </div>
    <div class="field">
        <%= u.label :telephone, "Telephone Number" %><br />
    	<%=  u.telephone_field :telephone %>
    </div>
<div class="field">
	<%= u.label :mobile, "Mobile Number" %><br />
	<%= u.telephone_field :mobile %>
</div>
<div class="field">
	<%= u.label :fax, "Fax Number" %><br />
	<%= u.telephone_field :fax %>
</div>
<div class="field">
	<%= u.label :email , "Email"%><br />
	<%= u.email_field :email %>
</div>
<div class="field">
	<%= u.label :address_type %><br />
	<%= u.select :address_type , options_for_select(["Home Address", "Mailing Address", "Both"]) %>
</div>
</div>

<% end %>