<p align="center" style="font-size: 14px; color:#999999;">Address Information</p>
<%= f.fields_for :addresses do |u| %>
<div>
    <div class="field">
        <%= u.label :address, {:class => 'label'}%> &nbsp;
    	<%= u.text_area :address , :cols=> 20, :rows=>5,:class => 'input-xlarge'%>
    </div>
    <div class="field">
        <%= u.label :telephone, "Telephone Number", {:class => 'label'}%> &nbsp;
    	<%=  u.telephone_field :telephone,{:class => 'span3'}%>
    </div>
<div class="field">
	<%= u.label :mobile, "Mobile Number" ,{:class => 'label'}%> &nbsp;
	<%= u.telephone_field :mobile,{:class => 'span3'}%>
</div>
<div class="field">
	<%= u.label :fax, "Fax Number", {:class => 'label'}%> &nbsp;
	<%= u.telephone_field :fax,{:class => 'span3'}%>
</div>

<div class="field">
	<%= u.label :address_type,{:class => 'label'}%> &nbsp;
	<%= u.select :address_type, options_for_select(["Home Address", "Mailing Address", "Both"], u.object.address_type) , :include_blank=> true%>
</div>
</div>

<% end %>
<br />
