<p align="center" style="font-size: 14px; color:#999999;">Admission Information</p>
<%= f.fields_for :admission_information do |u| %>
    <div class="field">
        <%= u.label :semester , {:class => 'label'}%> &nbsp;
    	<%= u.select :semester, options_for_select(["Winter 2012","Spring 2012"], u.object.semester), :include_blank=> true %>
    </div>
    <div class="field">
        <%= u.label :program_id , {:class => 'label'}%> &nbsp;
    	<%= u.collection_select :program_id, Program.where(:status => true), :id, :name , :include_blank=> true %>
    </div>
<div class="field">
	<%= u.label :intended_major , {:class => 'label'}%> &nbsp;
	<%= u.text_field :intended_major,{:class => 'span3'}%>
</div>
<div class="field">
	<%= u.label :toefl_test_results, {:class => 'label'}%> &nbsp;
	<%= u.text_field :toefl_test_results,{:class => 'span3'}%>
</div>
<div class="field">
	<%= u.label :toefl_test_date , {:class => 'label'}%> &nbsp;
	<%= u.date_select :toefl_test_date , :include_blank=> true %>
</div>
<div class="field">
	<%= u.label :proficiency_test , "Are you applying to NU's Proficiency Test", {:class => 'label'}%><br /> &nbsp;
	<%= u.select :proficiency_test , options_for_select([["Yes","true"],["No","false"]], u.object.proficiency_test) , :include_blank=> true %>
</div>

<% end %>

   
    
   