<p align="center" style="font-size: 14px; color:#999999;">Admission Information</p>
<%= f.fields_for :admission_information do |u| %>
    <div class="field">
        <%= u.label :semester_id , {:class => 'label'}%> &nbsp;
    	<!-- <%= u.select :semester, options_for_select(["Winter 2012","Spring 2012"], u.object.semester), :include_blank=> true %> -->
        <%= u.collection_select :semester_id, Semester.where(:status => true), :id, :name, {:include_blank=> true}, {:class=>'span4'}%><%= mark_required(u.object, :semester_id) %>
    </div>
    <div class="field">
        <%= u.label :program_id , {:class => 'label'}%> &nbsp;
    	<%= u.collection_select :program_id, Program.where(:status => true), :id, :name , {:include_blank=> true}, {:class=>'span4'}%><%= mark_required(u.object, :program_id) %>
    </div>
<div class="field">
	<%= u.label :intended_major , {:class => 'label'}%> &nbsp;
	<label class="tooltip1"><b><%= u.text_field :intended_major,{:class => 'span3'}%><%= mark_required(u.object, :intended_major) %><span>Only alphabets are allowed</span></b></label>
</div>
<div class="field">
	<%= u.label :toefl_test_results, {:class => 'label'}%> &nbsp;
	<label class="tooltip1"><b><%= u.text_field :toefl_test_results,{:class => 'span3'}%><%= mark_required(u.object, :toefl_test_results) %><span>Only numbers are allowed</span></b></label>
</div>
<div class="field">
	<%= u.label :toefl_test_date , {:class => 'label'}%> &nbsp;
	<%= u.date_select :toefl_test_date , {:include_blank=> true},{:class=>'datespan'} %><%= mark_required(u.object, :toefl_test_date) %>
</div>
<div class="field">
	<%= u.label :proficiency_test , "Are you applying to NU's Proficiency Test", {:class => 'label'}%><br /> &nbsp;
	<%= u.select :proficiency_test , options_for_select([["Yes","true"],["No","false"]], u.object.proficiency_test) , {:include_blank=> true},{:class=>'smallcellspan'} %>	
</div>

<% end %>
<br />
   
    
   