<p align="center" style="font-size: 14px; color:#999999;">Applicant Information</p>
 <div class="field"> 
	<%= f.label :photo, {:class => 'label'}%> &nbsp;
	<% if @applicant.photo.file? %>	
	<%= image_tag @applicant.photo.url(:medium) %> &nbsp; &nbsp; &nbsp;
	<% end %>
	<%= f.file_field :photo, :accept => 'image/png,image/gif,image/jpeg' %>
</div>
<div class="field">
	<%= f.label :first_name, {:class => 'label'}%> &nbsp;
	<%= f.text_field :first_name ,{:class => 'span3'}%>  
</div>
<div class="field">
	<%= f.label :middle_name, {:class => 'label'}%> &nbsp;
	<%= f.text_field :middle_name,{:class => 'span3'}%>
</div>
<div class="field">
	<%= f.label :last_name, {:class => 'label'}%> &nbsp;
	<%= f.text_field :last_name,{:class => 'span3'}%>
</div>
<div class="field">
	<%= f.label :date_of_birth, {:class => 'label'}%> &nbsp;
	<%= f.date_select :date_of_birth, :start_year => Time.now.year - 110, :end_year => Time.now.year - 10, :include_blank => true %>
</div>
<div class="field">
	<%= f.label :place_of_birth, {:class => 'label'}%> &nbsp;
	<%= f.text_field :place_of_birth,{:class => 'span3'}%>
</div>
<div class="field">
	<%= f.label :gender, {:class => 'label'}%> &nbsp;
	<%= f.select :gender, options_for_select(["Male", "Female"], @applicant.gender) , :include_blank=> true %>
</div>
<div class="field">
	<%= f.label :military_status, {:class => 'label'}%> &nbsp;
	<%= f.select :military_status, options_for_select(["Does not apply", "Exempted", "Completed", "Postponed"],  @applicant.military_status), :include_blank=> true %>
</div>    
 
<div class="field">
	<%= f.label :national_id , "National ID", {:class => 'label'}%> &nbsp;
	<%= f.text_field :national_id ,{:class => 'span3'}%>
</div>
<div class="field">
	<%= f.label :national_id_expiry_date, {:class => 'label'}%> &nbsp;
	<%= f.date_select :national_id_expiry_date, :start_year => Time.now.year - 5, :end_year => Time.now.year + 10 , :include_blank => true %>
</div>   <br />
<div class="field">
	<%= f.label :passport_number, {:class => 'label'}%> &nbsp;
	<%= f.text_field :passport_number,{:class => 'span3'}%>
</div>  
<div class="field">
	<%= f.label :country_of_issuance, {:class => 'label'}%> &nbsp;
	<%= f.country_select :country_of_issuance ,nil, :include_blank => true %>
</div>
<div class="field">
	<%= f.label :passport_expiry_date, {:class => 'label'}%> &nbsp;
	<%= f.date_select :passport_expiry_date , :start_year => Time.now.year - 5, :end_year => Time.now.year + 30, :include_blank => true %>
</div>     
<div class="field">
	<%= f.label :academic_honours, {:class => 'label'}%> &nbsp;
	<%= f.text_area :academic_honours, :cols=> 20, :rows=> 10, :class => 'input-xlarge'%>
</div>
<div class="field">
	<%= f.label :extra_activities, {:class => 'label'}%> &nbsp;
	<%= f.text_area :extra_activities, :cols=> 20, :rows=> 10,:class => 'input-xlarge'%>
</div>    
<div class="field">

	<%= f.label :transportation, {:class => 'label'}%> &nbsp;
	<%= f.select :transportation, options_for_select(["Private", "Nu buses"], @applicant.transportation), :include_blank => true%>
</div><br /> 
   
   