<div class="field">
	<%= f.label :photo %><br />
	<%= f.file_field :photo %>
</div>
<div class="field">
	<%= f.label :first_name %><br />
	<%= f.text_field :first_name ,:width=>'10px', :size=>"20", :maxlength=>"20" %>
</div>
<div class="field">
	<%= f.label :middle_name %><br />
	<%= f.text_field :middle_name %>
</div>
<div class="field">
	<%= f.label :last_name %><br />
	<%= f.text_field :last_name %>
</div>
<div class="field">
	<%= f.label :date_of_birth %><br />
	<%= f.date_select :date_of_birth %>
</div>
<div class="field">
	<%= f.label :place_of_birth %><br />
	<%= f.text_field :place_of_birth %>
</div>
<div class="field">
	<%= f.label :gender %><br />
	<%= f.select :gender, options_for_select(["Male", "Female"])%>
</div>
<div class="field">
	<%= f.label :military_status %><br />
	<%= f.select :military_status, options_for_select(["Does not apply", "Exempted", "Completed", "Postponed"]) %>
</div>    
 
<div class="field">
	<%= f.label :national_id %><br />
	<%= f.text_field :national_id %>
</div>
<div class="field">
	<%= f.label :national_id_expiry_date %><br />
	<%= f.date_select :national_id_expiry_date %>
</div>    
<div class="field">
	<%= f.label :passport_number %><br />
	<%= f.text_field :passport_number %>
</div>  
<div class="field">
	<%= f.label :country_of_issuance %><br />
	<%= f.text_field :country_of_issuance %>
</div>
<div class="field">
	<%= f.label :passport_expiry_date %><br />
	<%= f.date_select :passport_expiry_date %>
</div>     
<div class="field">
	<%= f.label :academic_honours %><br />
	<%= f.text_area :academic_honours, :cols=> 20, :rows=> 10 %>
</div>
<div class="field">
	<%= f.label :extra_activities %><br />
	<%= f.text_area :extra_activities, :cols=> 20, :rows=> 10 %>
</div>    
<div class="field">
	<%= f.label :transportation %><br />
	<%= f.select :transportation, options_for_select(["Private", "Nu buses"])%>
</div> 

<!-- <%= f.fields_for :addresses do |u| %>
    <div class="field">
        <%= u.label :address %><br />
    	<%= u.text_area :address , :cols=> 20, :rows=>5%>
    </div>
    <div class="field">
        <%= u.label :telephone, "Telephone Number" %><br />
    	<%=  u.text_field :telephone %>
    </div>
<div class="field">
	<%= u.label :mobile, "Mobile Number" %><br />
	<%= u.text_field :mobile %>
</div>
<div class="field">
	<%= u.label :fax, "Fax Number" %><br />
	<%= u.text_field :fax %>
</div>
<div class="field">
	<%= u.label :email , "Email"%><br />
	<%= u.text_field :email %>
</div>
<div class="field">
	<%= u.label :address_type %><br />
	<%= u.select :address_type , options_for_select(["Home Address", "Mailing Address", "Both"]) %>
</div>

<% end %> -->

    
    
   