<p align="center" style="font-size: 14px; color:#999999;">College Information</p>
<%= f.fields_for :colleges do |u| %>
<div>
    <div class="field">
        <%= u.label :name , {:class => 'label'}%> &nbsp;
    	<%= u.text_field :name,{:class => 'span3'}%>  
    </div>
    <div class="field">
        <%= u.label :faculty , {:class => 'label'}%> &nbsp;
    	<%=  u.text_field :faculty ,{:class => 'span3'}%>  
    </div>
<div class="field">
	<%= u.label :major , {:class => 'label'}%> &nbsp;
	<%= u.text_field :major,{:class => 'span3'}%>  
</div>
<div class="field">
	<%= u.label :city, {:class => 'label'}%> &nbsp;
	<%= u.text_field :city ,{:class => 'span3'}%>  
</div>
<div class="field">
	<%= u.label :country, {:class => 'label'}%> &nbsp;
	<%= u.country_select :country ,nil, {:include_blank => true},{:class => 'span4'} %>  
</div>
<div class="field">
	<%= u.label :attended_from , {:class => 'label'}%> &nbsp;
	<%= u.date_select :attended_from,  {:start_year => Time.now.year - 30, :end_year => Time.now.year + 1 , :include_blank => true},{:class=>'datespan'} %>
</div>
<div class="field">
	<%= u.label :attended_to, {:class => 'label'}%> &nbsp;
	<%= u.date_select :attended_to, {:start_year => Time.now.year - 30, :end_year => Time.now.year + 1 , :include_blank => true},{:class=>'datespan'}  %>
</div>
<div class="field">
	<%= u.label :language, {:class => 'label'}%> &nbsp;
	<%= u.text_field :language ,{:class => 'span3'}%>  
</div>
<div class="field">
	<%= u.label :gpa, "GPA" , {:class => 'label'}%> &nbsp;
	<%= u.text_field :gpa ,{:class => 'span3'}%>  
</div>
<br />
<%= u.link_to_remove "Remove This College" ,:class=>'btn btn-info'%>
</div>
<br />
<% end %>
<%= f.link_to_add "Add Another College", :colleges , :class=>'btn btn-info'%>  
<br />
<br />
    
    