<%= f.fields_for :colleges do |u| %>
<div>
    <div class="field">
        <%= u.label :name %><br />
    	<%= u.text_field :name %>
    </div>
    <div class="field">
        <%= u.label :faculty %><br />
    	<%=  u.text_field :faculty %>
    </div>
<div class="field">
	<%= u.label :major %><br />
	<%= u.text_field :major %>
</div>
<div class="field">
	<%= u.label :city%><br />
	<%= u.text_field :city %>
</div>
<div class="field">
	<%= u.label :country %><br />
	<%= u.text_field :country %>
</div>
<div class="field">
	<%= u.label :attended_from %><br />
	<%= u.date_select :attended_from,  :start_year => Time.now.year - 30, :end_year => Time.now.year + 1 %>
</div>
<div class="field">
	<%= u.label :attended_to %><br />
	<%= u.date_select :attended_to, :start_year => Time.now.year - 30, :end_year => Time.now.year + 1  %>
</div>
<div class="field">
	<%= u.label :language %><br />
	<%= u.text_field :language %>
</div>
<div class="field">
	<%= u.label :gpa, "GPA" %><br />
	<%= u.text_field :gpa  %>
</div>
</div>
<% end %>


    
<%= f.fields_for :checkCollege do |u| %>

<div class="field">
	<%= u.label :another2 , "Only one college"%>
	<%= u.check_box :oneCollege %><br />
</div>
<% end %>  
    
    
  
    
    