<!--<p align="center" style="font-size: 14px; color:#999999;">College Information</p>-->
<%= f.fields_for :colleges do |u| %>
<div>
    <div class="field">
        <%= u.label :name , {:class => 'label'}%> &nbsp;
    	<label class="tooltip1"><b><%= u.text_field :name,{:class => 'span3'}%><%= mark_required(u.object, :name) %><span>Only alphabets are allowed</span></b></label>
    </div>
    <div class="field">
        <%= u.label :faculty , {:class => 'label'}%> &nbsp;
    	<label class="tooltip1"><b><%=  u.text_field :faculty ,{:class => 'span3'}%>  <%= mark_required(u.object, :faculty) %><span>Only alphabets are allowed</span></b></label>
    </div>
<div class="field">
	<%= u.label :major , {:class => 'label'}%> &nbsp;
	<label class="tooltip1"><b><%= u.text_field :major,{:class => 'span3'}%><%= mark_required(u.object, :major) %><span>Only alphabets are allowed</span></b></label>  
</div>
<div class="field">
	<%= u.label :city, {:class => 'label'}%> &nbsp;
	<label class="tooltip1"><b><%= u.text_field :city ,{:class => 'span3'}%> <%= mark_required(u.object, :city) %><span>Only alphabets are allowed</span></b></label> 
</div>
<div class="field">
	<%= u.label :country, {:class => 'label'}%> &nbsp;
	<b><%= u.country_select :country ,nil, {:include_blank => true},{:class => 'span4'} %> <%= mark_required(u.object, :country) %></b>
</div>
<div class="field">
	<%= u.label :attended_from , {:class => 'label'}%> &nbsp;
	<b><%= u.date_select :attended_from,  {:start_year => Time.now.year - 5, :end_year => Time.now.year + 1 , :include_blank => true},{:class=>'datespan'} %><%= mark_required(u.object, :attended_from) %></b>
</div>
<div class="field">
	<%= u.label :attended_to, {:class => 'label'}%> &nbsp;
	<b><%= u.date_select :attended_to, {:start_year => Time.now.year - 5, :end_year => Time.now.year + 1 , :include_blank => true},{:class=>'datespan'}  %><%= mark_required(u.object, :attended_to) %></b>
</div>
<div class="field">
	<%= u.label :language, {:class => 'label'}%> &nbsp;
	<b><%= u.select :language ,options_for_select(["Arabic", "English", "French", "German"],  u.object.language), :include_blank=> true%><%= mark_required(u.object, :language) %></b>  
</div>
<div class="field">
	<%= u.label :gpa, "GPA" , {:class => 'label'}%> &nbsp;
	<label class="tooltip1"><b><%= u.text_field :gpa ,{:class => 'span3'}%>  <%= mark_required(u.object, :gpa) %><span>Only a number from 0 to 5 is allowed</span></b></label>
</div>
<br />
<%= u.link_to_remove "Remove This College" ,:class=>'btn btn-info'%>
</div>
<br />
<% end %>
<%= f.link_to_add "Add Another College", :colleges , :class=>'btn btn-info'%>  
<br />
<br />
    
    