<%= form_for(@applicant, :html => { :multipart => true }) do |f| %>
<% if @applicant.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@applicant.errors.count, "error") %> prohibited this product from being saved:</h2>
	<ul>
		<% @applicant.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<br />
<div class="field">
	<%= f.label :photo, {:class => 'label'}%> &nbsp;
	<%= f.file_field :photo %>
</div>
<div class="field">
	<%= f.label :first_name , {:class => 'label'}%> &nbsp;
	<%= f.text_field :first_name ,:width=>'10px', :size=>"20", :maxlength=>"20" ,{:class => 'span3'}%>
</div>
<div class="field">
	<%= f.label :middle_name , {:class => 'label'}%> &nbsp;
	<%= f.text_field :middle_name,{:class => 'span3'}%>
</div>
<div class="field">
	<%= f.label :last_name , {:class => 'label'}%> &nbsp;
	<%= f.text_field :last_name,{:class => 'span3'}%>
</div>
<br />
<%= fields_for @attachment do |u| %>
<div class="field">
	<%= u.label :personal_experience , {:class => 'label'}%> &nbsp;
	<%= u.file_field :personal_experience %>
</div>
<div class="field">
	<%= u.label :additional_information , {:class => 'label'}%> &nbsp;
	<%= u.file_field :additional_information %>
</div>
<br />
<% end %>
<br />
<div class="actions" style="padding-left: 350px;">
	<%= f.submit "Save", :name => "save", :class => 'btn'%> &nbsp;&nbsp;&nbsp;
	<%= f.submit "Submit", :name => "submit", :class => 'btn'%>
</div>
<% end %> 