<p align="center" style="font-size: 14px; color:#999999;">Guardian Information</p>
<%= f.fields_for :guardians do |u| %>
<div>
    <div class="field">
	<%= u.label :first_name , {:class => 'label'}%> &nbsp;
	<%= u.text_field :first_name ,:width=>'10px', :size=>"20", :maxlength=>"20", :class => 'span3'%>
</div>
<div class="field">
	<%= u.label :middle_name, {:class => 'label'}%> &nbsp;
	<%= u.text_field :middle_name ,{:class => 'span3'}%>
</div>
<div class="field">
	<%= u.label :last_name , {:class => 'label'}%> &nbsp;
	<%= u.text_field :last_name,{:class => 'span3'}%>
</div>
    <div class="field">
        <%= u.label :address , {:class => 'label'}%> &nbsp;
    	<%=  u.text_area :address, :rows=>3, :cols => 5 , :class => 'input-xlarge'%>
    </div>
    
   <div class="field">
        <%= u.label :telephone, "Telephone Number" , {:class => 'label'}%> &nbsp;
    	<%=  u.telephone_field :telephone ,{:class => 'span3'}%>
    </div>
<div class="field">
	<%= u.label :mobile, "Mobile Number" , {:class => 'label'}%> &nbsp;
	<%= u.telephone_field :mobile ,{:class => 'span3'}%>
</div>

<div class="field">
        <%= u.label :occupation , {:class => 'label'}%> &nbsp;
    	<%=  u.text_field :occupation ,{:class => 'span3'}%>
    </div>
<div class="field">
	<%= u.label :company_name , {:class => 'label'}%> &nbsp;
	<%= u.text_field :company_name ,{:class => 'span3'}%>
</div>
<div class="field">
	<%= u.label :business_telephone , {:class => 'label'}%> &nbsp;
	<%= u.telephone_field :business_telephone ,{:class => 'span3'}%>
</div>
<div class="field">
	<%= u.label :email, "E-mail" , {:class => 'label'}%> &nbsp;
	<%= u.email_field :email ,{:class => 'span3'}%>
</div>
<div class="field">
	<%= u.label :fax, "Fax Number", {:class => 'label'}%> &nbsp;
	<%= u.telephone_field :fax ,{:class => 'span3'}%>
</div>
 
<div class="field">
	<%= u.label :business_address , {:class => 'label'}%> &nbsp;
	<%= u.text_area :business_address, :rows=>3, :cols =>5, :class => 'input-xlarge'%>
</div>


<div class="field">
	<%= u.label :relation , {:class => 'label'}%> &nbsp;
	<%= u.select :relation, options_for_select(["Other","Mother", "Father"], u.object.relation3),{ :include_blank=> true} , {:class=> "relation"}  %>
</div>
<!-- If other will enable a text field to write in -->


<div class="relation3">
	<%= u.label :relation, "Please Specify" , {:class => 'label2',}%> &nbsp; &nbsp; &nbsp; &nbsp;
	<%= u.text_field :relation2 , :class => "relation2", :value => u.object.relation ,:class => 'span3'%>
</div>

<!--  -->

<div class="field">
	<%= u.label :financial , "Will that person be responsible for your financial expenses", {:class => 'label'}%> 
	<br /> <br /> &nbsp;
	<%= u.select :financial, options_for_select([["Yes",true],["No",false]], u.object.financial) , :include_blank=> true %>
</div>
</div>
<% end %>


    
  
    
    