<%= f.fields_for :guardians do |u| %>
    <div class="field">
	<%= u.label :first_name %><br />
	<%= u.text_field :first_name ,:width=>'10px', :size=>"20", :maxlength=>"20" %>
</div>
<div class="field">
	<%= u.label :middle_name %><br />
	<%= u.text_field :middle_name %>
</div>
<div class="field">
	<%= u.label :last_name %><br />
	<%= u.text_field :last_name %>
</div>
    <div class="field">
        <%= u.label :address %><br />
    	<%=  u.text_area :address, :rows=>3, :cols => 5 %>
    </div>
    
   <div class="field">
        <%= u.label :telephone, "Telephone Number" %><br />
    	<%=  u.text_field :telephone %>
    </div>
<div class="field">
	<%= u.label :mobile, "Mobile Number" %><br />
	<%= u.text_field :mobile %>
</div>

<div class="field">
        <%= u.label :occupation %><br />
    	<%=  u.text_field :occupation %>
    </div>
<div class="field">
	<%= u.label :company_name %><br />
	<%= u.text_field :company_name %>
</div>
<div class="field">
	<%= u.label :business_telephone %><br />
	<%= u.text_field :business_telephone %>
</div>
<div class="field">
	<%= u.label :email, "E-mail" %><br />
	<%= u.text_field :email %>
</div>
<div class="field">
	<%= u.label :fax, "Fax Number" %><br />
	<%= u.text_field :fax %>
</div>
 
<div class="field">
	<%= u.label :business_address %><br />
	<%= u.text_area :business_address, :rows=>3, :cols =>5 %>
</div>


<div class="field">
	<%= u.label :relation %><br />
	<%= u.select :relation, options_for_select(["Mother", "Father", "Other"]) %>
</div>
<!-- If other will enable a text field to write in -->


<div class="field">
	<%= u.label :relation, "Please Specify" %><br />
	<%= u.text_field :relation %>
</div>

<!--  -->

<div class="field">
	<%= u.label :financial , "Will that person be responsible for your financial expenses"%><br />
	<%= u.select :financial, options_for_select(["Yes","No"]) %>
</div>

<% end %>


    
  
    
    