<%= f.fields_for :healths do |u| %>
    <div class="field">
        <%= u.label :illness , {:class => 'label'}%> &nbsp;
    	<%= u.text_field :illness,{:class => 'span3'}%>
    </div>
    <div class="field">
        <%= u.label :description, {:class => 'label'}%> &nbsp;
    	<%=  u.text_area :description, :rows=>4, :cols => 5, :class => 'input-xlarge'%>
    </div>

<% end %>


    
    
    
    
  
    
    