<%= f.fields_for :uni_related_info do |u| %>
   
   <%= u.fields_for :uni_choice do |l| %>

<div class="field">
	<%= l.label :How, "How did you hear of Nile University?" %></br>
	
	<%= l.label :Internet %>
	<%= l.check_box :internet %><br />
	<%= l.label :Email %>
	<%= l.check_box :email%><br />
	<%= l.label :Radio %>
	<%= l.check_box :radio %><br />
	<%= l.label :School, "School Visits" %>
	<%= l.check_box :school_visits %><br />
	<%= l.label :NUStaff, "Nile University Faculty/Staff" %>
	<%= l.check_box :nile_university_faculty_and_staff %><br />
	<%= l.label :NUStudent, "Nile University Student/Alumni" %>
	<%= l.check_box :nile_university_student_and_alumni%><br />
	<%= l.label :PrintAd, "Print Advertisement" %>
	<%= l.check_box :print_advertisements %><br />
	<div id="printAd">
		<%= l.label :specify, "Please Specify" %>
		<%= l.text_field :specify_print_advertisements %><br />
	</div>
	<%= l.label :NUSeminar, "NU Seminar, Workshop, Conference" %>
	<%= l.check_box :nu_seminar_workshop_and_conference %><br />
	<div id="NuSeminar">
		<%= l.label :specify, "Please Specify" %>
		<%= l.text_field :specify_nu_seminar %><br />
	</div>
	<%= l.label :Other, "Other" %>
	<%= l.check_box :other %><br />
	<div id="other">
		<%= l.label :specify, "Please Specify" %>
		<%= l.text_field :specify_other %><br />
	</div>
		
</div>
<% end %>

   
    <div class="field">
        <%= u.label :factors , "What were the most important factors that influenced your decision to apply to NU?"%><br />
    	<%=  u.text_area :factors, :rows=>5, :cols =>20 %>
    </div>
    <div class="field">
        <%= u.label :majors , "What majors/specializations at NU attract you the most?"%><br />
    	<%=  u.text_area :majors, :rows=>5, :cols =>20 %>
    </div>
    
	<div class="field">
		<%= u.label :other_universities, "What other universities are you applying to?" %><br />
		<%=  u.text_area :other_universities, :rows=>5, :cols =>20 %>
	</div>
	
	
	<%= u.fields_for :other_choice do |l| %>

    <div class="field">
		<%= l.label :What, "What was the most important factor that infuenced your decision to apply to other universities?" %><br />
		
		<%= l.label :Quality, "Quality of education" %>
		<%= l.check_box :quality%><br />
		<%= l.label :Reputation %>
		<%= l.check_box :reputation%><br />
		<%= l.label :Facilities %>
		<%= l.check_box :facilities%><br />
		<%= l.label :Location %>
		<%= l.check_box :location%><br />
		
		<%= l.label :fieldsOfStudy, "Fields of study (programs and specializations)" %>
		<%= l.check_box :fields_of_study %><br />
		<div id="fieldsofstudy">
			<%= l.label :specify, "Please Specify" %>
			<%= l.text_field :specify_fields_of_study %><br />
		</div>
		<%= l.label :Other, "Other" %>
		<%= l.check_box :other %><br />
		<div id="other2">
			<%= l.label :specify, "Please Specify" %>
			<%= l.text_field :specify_other %><br />
		</div>
	</div>
	<% end %>	

<% end %>



    
    
  