<p align="center" style="font-size: 14px; color:#999999;">Work Information</p>
<%= f.fields_for :works do |u| %>
<div>
    <div class="field">
        <%= u.label :employer , {:class => 'label'}%> &nbsp;
    	<%= u.text_field :employer ,{:class => 'span3'}%>
    </div>
    <div class="field">
	<%= u.label :worked_from , {:class => 'label'}%> &nbsp;
	<%= u.date_select :worked_from ,{:start_year => Time.now.year - 30, :end_year => Time.now.year + 1 , :include_blank=> true},{:class => 'datespan'} %>
</div>
<div class="field">
	<%= u.label :worked_to, {:class => 'label'}%> &nbsp;
	<%= u.date_select :worked_to ,{:start_year => Time.now.year - 30, :end_year => Time.now.year + 1 , :include_blank=> true},{:class => 'datespan'} %>
</div>
<div class="field">
    <%= u.label :tasks , {:class => 'label'}%> &nbsp;
    <%=  u.text_area :tasks, :rows=>4, :cols=>5 , :class => 'input-xlarge'%>
</div>
<br />
<%= u.link_to_remove "Remove Work", :class=>'btn btn-info'%> 
</div>
<br />
<% end %>
<%= f.link_to_add "Add Work", :works, :class=>'btn btn-info' %> 
<br />  
<br />
    
  
    
    