<h2 style="font-size: 30px; color:#999999;">Listing Applications</h2>

<div class="well">
<table class="table">
	<thead>
<tr>
	<th>Photo</th>
	<th>Name</th>
	<th>Created At</th>
</tr>	
</thead>
<tbody>
<% @applications.each do |app| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

    <td>
      <%= image_tag(app.photo.url(:thumb), class: 'list_image') %>
    </td>

    <td class="list_description">
      <dl>
        <dt><%= app.first_name %> <%= app.middle_name %> <%= app.last_name %></dt>
      </dl>
    </td>
    
    <td class="list_description">
      <dl>
        <dt><%= app.created_at %></dt>
      </dl>
    </td>

    <td class="list_actions">
      <%= link_to 'Show', "/users/#{app.user_id}/application" ,:class => 'btn'%><br/>
      
    </td>
  </tr>
  </tbody>
<% end %>
</table>
</div>
<br />

<%= paginate @applications %>
