<div class="sign_up_bg">
	<h2>Sign Up</h2>
	<div class="sign_up">
		<%= form_for @user do |f| %>
		<% if @user.errors.any? %>
		<div class="error_messages">
			<h2>Form is invalid</h2>
			<ul>
				<% for message in @user.errors.full_messages %>
				<li>
					<%= message %>
				</li>
				<% end %>
			</ul>
		</div>
		<% end %>
		<p>
			<%= f.label :email %>
			<br />
			<%= f.text_field :email, {:class => 'span3', :placeholder => "example@example.com"}%>
		</p>
		<p>
			<%= f.label :password %>
			<br />
			<%= f.password_field :password, {:class => 'span3'}  %>
		</p>
		<p>
			<%= f.label :password_confirmation %>
			<br />
			<%= f.password_field :password_confirmation, {:class => 'span3'} %>
		</p>
		<p>
			<%= f.submit :class => 'btn'%>
		</p>
		<% end %>
	</div>
</div>
